
.pgn-viewer__pgn-list {
    background-color: black;
    color: #EEE;
    min-height: 100px;
    overflow-y: scroll;
}

.pgn-viewer__pgn-list::-webkit-scrollbar {
    width: 10px;
}

.pgn-viewer__pgn-list::-webkit-scrollbar-track {
    background-color: #444;
}

.pgn-viewer__pgn-list::-webkit-scrollbar-thumb {
    background-color: #222;
    border-radius: 50px;
}

/* PGN List Styles */

.pgn-viewer__pgn-moveline {
    width: 100%;
    display: grid;

    grid-template-columns: 20% 40% 40%;
}

.pgn-viewer__pgn-elem--type-san, .pgn-viewer__pgn-elem--type-num {
    padding: 2px 8px;
    font-size: 20px;
}

.pgn-viewer__pgn-elem--type-san {
    cursor: pointer;
}

.pgn-viewer__pgn-elem--type-num {
    text-align: right;
    background-color: #111;
}

.pgn-viewer__pgn-elem--selected, .pgn-viewer__pgn-elem--selected:hover {
    background-color: #444;
}

.pgn-viewer__pgn-elem--type-san:hover {
    background-color: #222;
}

.pgn-viewer__pgn-elem--type-blank {
    pointer-events: none;
}

.pgn-viewer__pgn-elem--type-variation {
    width: calc(100% - 28px);
    box-sizing: border-box;
    margin-left: 28px;
    border: 1px solid white;

    font-size: medium;
}

.pgn-viewer__pgn-elem--type-variation-line {
    display: flex;
    flex-wrap: wrap;
}

.pgn-viewer__pgn-elem--type-result {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    background-color: #111;
    font-size: x-large;
    font-style: italic;
    padding: 20px;
}

.pgn-viewer__pgn-control {
    display: flex;
    z-index: 1;
}

.pgn-viewer__pgn-control > button, .pgn-viewer__game-controls > button {
    flex: 1;
    user-select: none;
}

.pgn-viewer__pgn-control > button {
    font-size: x-large;
}

/* FONT ICONS */
.pgn-viewer__pgn-control .font-icon::before {
    font-size: x-large;
}

.pgn-viewer__game-controls {
    display: flex;
}

.pgn-viewer__game-controls > button {
    padding-top: 10px;
    padding-bottom: 10px;
}
