
.board-graphics__files,
.board-graphics__ranks {
    font-weight: bold;
    font-family: "Noto Sans", Sans-Serif;
    padding-left: 2px;
}

.board-graphics__files > *,
.board-graphics__ranks > * {
    flex: 1;
}

.board-graphics__files div:nth-child(2n + 1),
.board-graphics__ranks div:nth-child(2n) {
    color: var(--secondary-color);
}

.board-graphics__files div:nth-child(2n),
.board-graphics__ranks div:nth-child(2n + 1) {
    color: var(--primary-color);
}

.board-graphics--flipped .board-graphics__files div:nth-child(2n + 1),
.board-graphics--flipped .board-graphics__ranks div:nth-child(2n) {
    color: var(--primary-color);
}

.board-graphics--flipped .board-graphics__files div:nth-child(2n),
.board-graphics--flipped .board-graphics__ranks div:nth-child(2n + 1) {
    color: var(--secondary-color);
}

.board-graphics__files {
    display: flex;
    flex-direction: row;

    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

.board-graphics--flipped .board-graphics__files {
    flex-direction: row-reverse;
}

.board-graphics--flipped .board-graphics__ranks {
    flex-direction: column;
}

.board-graphics__ranks {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    right: 0.15vw;
    top: 0px;
    height: 100%;
}
