
#lobby_container {
    text-align: center;
    font-size: x-large;
}

#lobby_container h1,
#lobby_container p {
    margin: 0px;
}

#lobby_container #header,
#lobby_container .chall {
    display: grid;
    grid-template-columns: 15% 30% 30% 25%;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: medium;
    padding: 10px;
}

#lobby_container #header,
#lobby_container #lobby {
    width: 100%;
}

#lobby_container #header {
    padding: 5px;
    font-size: large;
}

#lobby_container #lobby {
    background-color: black;
    overflow-y: scroll;
    overflow-x: hidden;

    height: 100%;
}

#lobby_container .chall:nth-child(2n){
    background: linear-gradient(rgb(51, 51, 51) 50%, rgb(30, 30, 30) 100%);
}

#lobby_container .chall:nth-child(2n + 1){
    background: linear-gradient(rgb(125, 125, 125) 50%, rgb(80, 80, 80) 100%);
}

#create-game-button,
#play-phil-button {
    display: block;
    margin: 10px auto;
    padding-left: 20px;
    padding-right: 20px;

    font-size: x-large;
}

#lobby_featured-game {
    display: none;
    margin-top: 200px;
    text-align: center;
}

#lobby_featured-game-container .game_container_container {
    grid-template-areas:
        'plyr_up    '
        'game       '
        'plyr_dn    ';
    grid-template-rows: min-content min-content;
    width: min-content;
}

#lobby_featured-game-container .game_container_container .player {
    display: block;
    width: 100%;
}

#lobby_featured-game-container .game_container_container .white_player {
    grid-area: plyr_up;
    border-radius: 5px 5px 0px 0px;
}

#lobby_featured-game-container .game_container_container .black_player {
    grid-area: plyr_dn;
    border-radius: 0px 0px 5px 5px;
}
