
#menu {
    display: flex;
    padding-top: 10px;
}

#menu > * {
    flex: 1;
    margin: 0px 10px;
    border: 1px solid darkslategray;
}

#menu > *.active {
    background-color: #777;
}

#menu > a > button {
    width: 100%;
    height: 100%;
}

@media (max-width: 1110px){
    #menu > * {
        margin: 0px;
    }
}
