
#my-games_container {
    text-align: center;
}

#my-games {
    display: flex;
    flex-wrap: wrap;
}

#my-games .game_container_container,
#bookmarked-games .game_container_container {
    position: relative;
    display: block;

    background-color: black;

    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    cursor: pointer;

    transition: background-color, padding;
    transition-duration: 500ms;
}

#my-games .game_container_container:hover,
#bookmarked-games .game_container_container:hover {
    background-color: #111;
    padding: 25px;
}

#my-games .game_container_container .message {
    margin: 0px;
    margin-top: 10px;
}

#my-games .result {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;

    color: white;
    background: rgba(0, 0, 0, 0.4);
    
    z-index: 30;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;

    font-family: sans-serif;
    font-size: xxx-large;
}

#my-games_download {
    margin: 10px;
    font-size: x-large;
}

#my-games .delete {
    position: absolute;
    right: -5px;
    top: -5px;
    width: 40px;
    height: 40px;

    background-color: transparent;
    background-image: url(../images/glyphs/incorrect.svg);
    background-size: contain;
    z-index: 40;
}

#my-games_menu button {
    font-size: x-large;
    padding: 15px;
    margin: 10px;
}

#my-games_menu button.active {
    background-color: #777;
}

#bookmarked-games {
    display: none;
    flex-wrap: wrap;
}
