
#extra {
    margin-top: 15px;
    grid-area: extra;
}

#extra button {
    margin-top: 5px;
    margin-bottom: 10px;
}

#extra input {
    font-size: large;
}

.font-icon::before {
    font-family: 'Chess';
    font-size: x-large;
    content: attr(data-icon);
}

#panel_draw {
    font-size: x-large;
}

#panel_draw::before {
    content: none;
}

#panel_send-invite::before, #pre-game-controls button {
    font-size: large;
    width: 100%;
}

#pre-game-controls button, #toggle_bookmark {
    margin-bottom: 9px;
    border-radius: 11px;
    padding: 5px;
    font-size: x-large;
}

#panel_rematch, #panel_go-to-board {
    border: 1px solid darkslategray;
    display: none;
}

#toggle_bookmark {
    display: none;
}
