
.board-graphics__top-player,
.board-graphics__bottom-player {
    background-color: #181818;

    align-items: center;

    font-size: 18px;
    width: var(--game-width);
    padding: 2px 10px;
    margin: auto;
    box-sizing: border-box;
}

.board-graphics__bottom-player {
    border-radius: 0px 0px 5px 5px;
}

.board-graphics__top-player {
    border-radius: 5px 5px 0px 0px;
}

.connection {
    display: inline-block;
    border: 2px solid #555;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
}
.connection.disconnected {
    background: red;
}
.connection.connecting {
    background: yellow;
}
.connection.connected {
    background: #00e700;
}
