#pgnText {
    resize: vertical;
    height: 140px;
}

#pgn {
    background-color: black;
    display: grid;
    grid-template-columns: 15% 42.5% 42.5%;
    grid-template-rows: repeat(30, min-content);
    color: #EEE;
    min-height: 100px;
    overflow-y: scroll;
}

#pgn::-webkit-scrollbar {
    width: 10px;
}

#pgn::-webkit-scrollbar-track {
    background-color: #444;
}

#pgn::-webkit-scrollbar-thumb {
    background-color: #222;
    border-radius: 50px;
}

#pgn > *:not(.pgn_variation), #extra > * {
    box-sizing: border-box;
    width: 100%;
}

.pgn_san, .pgn_counter {
    padding: 2px 8px;
    font-size: 20px;
}

.pgn_san {
    cursor: pointer;
}

.pgn_counter {
    text-align: right;
    background-color: #111;
}

.pgn_selected, .pgn_selected:hover {
    background-color: #444;
}

.pgn_san:hover {
    background-color: #222;
}

.pgn_variation {
    display: flex;
    flex-wrap: wrap;
    
    grid-column-start: 1;
    grid-column-end: 4;

    width: calc(100% - 28px);
    box-sizing: border-box;
    margin-left: 28px;
    border: 1px solid white;

    font-size: medium;
}

.pgn_result {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    background-color: #111;
    font-size: x-large;
    font-style: italic;
    padding: 20px;
}

#pgn_control {
    display: flex;
    z-index: 1;
}

#pgn_control > button, #play-game-controls > button {
    flex: 1;
}

#pgn_control > button {
    font-size: x-large;
}

/* FONT ICONS */
#pgn_control .font-icon::before {
    font-size: x-large;
}
