
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.board-graphics__pieces > * {
    position: absolute;
    width: 12.5%;
    height: 12.5%;
}

.grMove {
    z-index: 3 !important;
}

#element-pool {
    display: none;
}

.board-graphics__piece--dragged {
    opacity: 0.5;
}

.board-graphics__dragging {
    display: none;
    background-size: 700% 200%;

    position: absolute;
    width: var(--piece-width);
    height: var(--piece-height);

    pointer-events: none;

    z-index: 3;
}

.board-graphics__piece {
    background-size: 700% 200%;
    image-rendering: auto;

    position: absolute;

    will-change: transform;

    transform: translate(0px, 0px);
    transition: transform 300ms ease-in-out;

    left: 0px;
    top: 0px;

    z-index: 2;
}

.board-graphics__piece--captured {
    animation: fadeOut 300ms 80ms forwards ease-in;
}

/* === Glyphs === */

.board-graphics__pieces .glyph {
    position: absolute;
    right: 0px;

    height: 40%;
    aspect-ratio: 1 / 1;

    text-align: center;
    transform: translate(30%, -30%);
    line-height: 0.9;

    background-size: contain;

    border: 1px solid white;
    border-radius: 100%;
    box-shadow: 2px 2px 6px black;
}

.board-graphics__pieces .font-icon.glyph::before {
    font-size: calc(0.4 * var(--piece-height));
}
