/* handles displaying proper images for pieces based on the indicated styles */

/* CBURNETT */
.board-graphics--pieces-cburnett .piece,
.board-graphics--pieces-cburnett .board-graphics__dragging {
    background-image: url(../images/pieces/cburnett.png);
}

.board-graphics--pieces-cburnett .k {
    background-position-x: 0%;
}
.board-graphics--pieces-cburnett .q {
    background-position-x: 16.666666666666666%;
}
.board-graphics--pieces-cburnett .b {
    background-position-x: 33.333333333333336%;
}
.board-graphics--pieces-cburnett .n {
    background-position-x: 50%;
}
.board-graphics--pieces-cburnett .r {
    background-position-x: 66.66666666666667%;
}
.board-graphics--pieces-cburnett .p {
    background-position-x: 83.33333333333333%;
}
.board-graphics--pieces-cburnett .u {
    background-position-x: 100%;
}

/* MERIDA */
.board-graphics--pieces-merida .piece,
.board-graphics--pieces-merida .board-graphics__dragging {
    background-image: url(../images/pieces/merida.png);
}

.board-graphics--pieces-merida .r {
    background-position-x: 0%;
}
.board-graphics--pieces-merida .n {
    background-position-x: 20%;
}
.board-graphics--pieces-merida .b {
    background-position-x: 40%;
}
.board-graphics--pieces-merida .q {
    background-position-x: 60%;
}
.board-graphics--pieces-merida .k {
    background-position-x: 80%;
}
.board-graphics--pieces-merida .p {
    background-position-x: 100%;
}
