
#puzzles {
    display: none;
    
    grid-area: puzzles;
    display: grid;
    grid-template-areas:
        'img title'
        'img diff'
        'img solved'
        'control control'
        'desc desc';
    grid-template-columns: min-content auto;
    column-gap: 10%;
    margin-left: 3%;
}

#puzzles_image_container {
    grid-area: img;
    width: 100%;
    height: 100%;
}

#puzzles_image {
    object-fit: contain;
}

#puzzles_title {
    grid-area: title;
}

#puzzles_diff {
    grid-area: diff;
}

#puzzles_solved {
    grid-area: solved;
}

#puzzles_title, #puzzles_diff, #puzzles_solved {
    font-size: 30px;
}

#puzzles_control {
    grid-area: control;
    display: flex;
}

#puzzles_rdm {
    width: 100%;
    margin: 0% 2%;
}

#puzzles_back, #puzzles_next {
    width: 50px;
}

#puzzles_desc {
    grid-area: desc;
}
