
#board-template {
    display: none;
}

@font-face {
    font-family: 'Chess';
    src: url(../fonts/lichess.woff2);
    src: url(../fonts/lichess.woff);
}

body {
    margin: 0px;
    padding-bottom: 80px;
    min-height: 100vh;
    box-shadow: inset 0 0 40px 0px #151515;
    background-color: #252525;
    color: #EEE;

    max-width: 100vw;

    overflow-x: hidden;

    font-family: sans-serif;
}

@media (min-width: 1110px){
    #main-board {
        grid-template-areas:
            'left top_bar   right'
            'left board     right'
            ' .   bottom_bar  .  '
            ' .   bottom      .  ';
        grid-template-columns: 0.8fr 1fr 1fr 0.4fr;
    }

    .board-graphics__right {
        height: var(--game-height);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 1110px){
    #main-board {
        --zoom: 100;
        grid-template-areas:
            ' . top_bar     . '
            ' . board       . '
            ' . bottom_bar  . '
            ' . left        . '
            ' . right       . '
            ' . bottom      . ';
        grid-template-rows: min-content min-content;
        grid-template-columns: auto var(--game-width) auto;
        width: 100%;
    }
    #puzzles, #panel {
        width: var(--game-width);
        margin: auto;
    }
}

@media (min-aspect-ratio: 1/1){
    #main-board {
        --zoom: 85;
        --game-width: calc(var(--zoom) * 1vh);
        --game-height: calc(var(--zoom) * 1vh);
    }
    #main-board .board-graphics__files, #main-board .board-graphics__ranks {
        font-size: 2vh;
    }
}

@media (max-aspect-ratio: 1/1){
    #main-board {
        margin: 0px;
        --game-width: calc(100vw);
        --game-height: calc(100vw);
    }
    #main-board .board-graphics__files, #main-board .board-graphics__ranks {
        font-size: 2vw;
    }
}

#main-board {
    padding-top: 1vw;
}

h1 {
    margin: 0px;
}

button, input[type="submit"] {
    border: 0px;
    background-color: #111;
    color: white;
    padding: 6px;
    font-size: large;
    cursor: pointer;
}

button:disabled::before {
    opacity: 0.5;
}

button:disabled {
    opacity: 0.5;
}

button:hover, input[type="submit"]:hover {
    background-color: #444;
}

button:active, input[type="submit"]:active {
    background-color: #222;
}

input:not([type="checkbox"]):not([type="radio"]), textarea {
    background-color: black;
    color: #EEE;
    border: 1px solid gray;
    width: 100%;
}

select {
    background-color: black;
    color: #EEE;
    padding: 3px;
    border-radius: 50px;
    border: 2px solid #EEE;
}

.font-icon::before {
    font-family: 'Chess';
    font-size: x-large;
    content: attr(data-icon);
}
