
#warn-bar {
    display: none;
    position: fixed;
    bottom: 0px;
    background-color: #55F;
    text-align: center;
    height: 8vh;
    font-size: 4vh;
    padding: 12px 25px;
    width: calc(100% - 50px);
    z-index: 10;
}

#warn-bar_close {
    position: absolute;
    right: 5px;
    top: 0px;
    background-color: transparent;
    font-size: 4.5vh;
}
